@page "/change-password"
@inherits PetHospitalMobileApp.Components.Common.BaseComponent

<div class="container">
    <div class="row">
        <h2 class="col-12">@Translate["ChangePassword"]</h2>
    </div>
    <div class="row">
        <div class="col-12 mb-3">
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <label for="oldPasswordInput">@Translate["OldPassword"]</label>
                        <input id="oldPasswordInput" class="form-control" @bind="@_changePasswordModel.OldPassword" />
                    </div>
                    <div class="form-group">
                        <label for="newPasswordInput">@Translate["NewPassword"]</label>
                        <input id="newPasswordInput" class="form-control" @bind="@_changePasswordModel.NewPassword" />
                    </div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-primary" @onclick="ChangePasswordAsync">@Translate["Submit"]</button>
                    <a href="/profile" class="btn btn-secondary">@Translate["Cancel"]</a>
                </div>
            </div>
        </div>
    </div>
</div>
