@page "/profile"
@inherits PetHospitalMobileApp.Components.Common.BaseComponent
<div class="container">
    <div class="row">
        <h2 class="col-12">
            @Translate["welcome"], @CurrentUser.FirstName @CurrentUser.LastName
        </h2>
    </div>
    <div class="row">
        <div class="col-12 mb-3">
            <div class="card">
                <div class="card-header">@Translate["profile.personal.header"]</div>
                <div class="card-body">
                    <div>@Translate["Email"]: @CurrentUser.Email</div>
                    <div>@Translate["UserName"]: @CurrentUser.UserName</div>
                    <div>@Translate["Banned"]: @CurrentUser.IsBanned</div>
                </div>
                <div class="card-footer">
                    <a href="/edit-profile" class="btn btn-primary">@Translate["Edit Profile"]</a>
                    <a href="/change-password" class="btn btn-primary">@Translate["Change Password"]</a>
                </div>
            </div>
        </div>
    </div>
</div>