@inherits PetHospitalMobileApp.Components.Common.BaseComponent

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">PetHospitalMobileApp</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        
        @if (UserService.IsAuthenticated) {
            <div class="nav-item px-3">
                <a class="nav-link" href="/profile">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> @Translate["Profile"]
                </a>
            </div>
            <div class="nav-item px-3">
                <a class="nav-link" href="/animal-list">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> @Translate["AnimalList"]
                </a>
            </div>
        }
        else {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="login">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> @Translate["Login"]
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="registration">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> @Translate["Registration"]
                </NavLink>
            </div>
        }
        <div class="nav-item px-3 row">
            @foreach (var language in Translate.AvailableLanguages) {
                <a class="nav-link col-6 @(Translate.CurrentLanguage == language ? "active" : string.Empty)" @onclick="(() => ChangeLanguage(language))">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> @Translate[language.ToUpper()]
                </a>
            }
        </div>

    </nav>
</div>